@model Timesheets.Models.TimesheetEntry

@{
    ViewData["Title"] = "CMAP Developer Test";
}

<div class="jumbotron">
    <h1 class="display-4">Timesheets</h1>
    <p class="lead">Get started by adding a timesheet below.</p>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Add Timesheet</h2>
        <p>
            Add your time worked against a project to provide an overview of the total hours worked so far.
        </p>
        @using (Html.BeginForm("Index", "Timesheet", FormMethod.Post))
        {
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>Date: </td>
                    <td>
                        @Html.TextBoxFor(t => t.Date, new {@class="form-control mb-3", placeholder="DD/MM/YYYY", id="date"})
                    </td>
                </tr>
                <tr>
                    <td>First Name: </td>
                    <td>
                        @Html.TextBoxFor(m => m.FirstName, new {@class="form-control mb-3", placeholder="First Name", id="firstName"})
                    </td>
                </tr>
                <tr>
                    <td>Last Name: </td>
                    <td>
                        @Html.TextBoxFor(m => m.LastName, new {@class="form-control mb-3", placeholder="Last Name", id="lastName"})
                    </td>
                </tr>
                <tr>
                    <td>Project: </td>
                    <td>
                        @Html.TextBoxFor(m => m.Project, new {@class="form-control mb-3", placeholder="Test Project", id="project"})
                    </td>
                </tr>
                <tr>
                    <td>Hours: </td>
                    <td>
                        @Html.TextBoxFor(m => m.Hours, new {@class="form-control mb-3", placeholder="7.5", id="hoursWorked"})
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" class="btn btn-primary" id="submitTimesheet" /></td>
                </tr>
            </table>
        }
    </div>
    <div class="col">
        <h2>Tools</h2>
        <p>
            Export all timesheets in CSV format so that you refer back to them in the future.
        </p>
        <button type="button" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
            Export Timesheets (CSV)
        </button>
    </div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col">
        <h2>Timesheet Viewer</h2>
        <p>
            View timesheets for multiple projects and sort by total hours worked to see where time is being spent.
        </p>
    </div>
</div>
